body {
    padding-top: 5rem;
    font-family: 'Nunito Sans', sans-serif;
  }

div li a {
    text-transform: uppercase;
    position: relative;
}

div li a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

div li a:hover::before {
    width: 82%;
}